body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.chatt {
  background-color: none;
  display: flex;
  justify-content: left;
  align-content: center;
  flex-direction: column;
  gap: 20px;
  width: 600px;
}

.formclass {
  /* margin: 20px; */
  position: absolute;
  bottom: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 10px;
  background-color: none;
  scale: 1.5;
}

input {
  border-radius: 6px;
  border-style: none;
}
.chatlog {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.913);
  border-radius: 3px;
  padding: 30px;
}

button {
  color: white;
  border-style: none;
  background-color: rgb(126, 126, 224);
  width: 50px;
}

button:hover {
  cursor: pointer;
}
